@use './functions.scss';

$color_1: black;
$background-color_1: #f0f0f0;
$border-color_1: black;
$color-light: #ff5722;


@mixin Ebutton {
    color: $color_1;
	text-decoration: none;
	display: inline-block;
	justify-content: right;
	margin-bottom: 5px;
	border-color: $border-color_1;
	border-style: solid;
	border-width: 1px;
	background-color: $background-color_1;
	&:visited {
		text-decoration: none;
        &:hover {
            color: lighten-comp($color-light);
        }
	}
}

@mixin Dsply {
    display: flex;
	justify-content: center;
}

/*Full Post*/
.MuiCardContent-root {
	width: auto;
	min-width: 500px;
	max-height: fit-content;
}
.MuiCard-root {
	@include Dsply;
	width: auto;
}
.comment-section {
	height: auto;
}
.user-comment {
	max-width: auto;
	@include Dsply;
}
.post-details {
	@include Dsply;
}
.my-post-page {
	@include Dsply;
}
.navbar {
	@include Dsply;
}
.delete-postBTN {
	display: flex;
	justify-content: right;
}
.read-button {
	text-decoration: none;
	@include Dsply;
}
.edit-btn {
    @include Ebutton;
    
}
