*{
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: gray;
}
h1 {
    color: black;
    text-align: center;
  }
  .mainNav li{
    text-align: center;
    display: inline;
  }
  .home-post{
    border-radius: 30px;
    padding: 60px 400px;
    position: relative;
    background-color: #F3EFE0;
    height: 400px;
    margin: 50px 0;
    
  }
  .title-post {
    font-size: 4em;
    text-align: center;
  }
  .cards-posts{
    display: flex;
    justify-content: center;
    margin: 80px;
    padding-bottom: 0px;
  }
  /* Home page Entire Cards  */
  .MuiCard-root {
    max-width: fit-content;
    
  }
  /* home page Posts Cards image */
  .MuiCardMedia-img {
    margin: 0;
    padding: 0;
  }
  /*Full Post*/
  .MuiCardContent-root{
    width: auto;
    min-width: 500px;
    max-height: fit-content;
  }
  .MuiCard-root {
    display: flex;
    justify-content: center;
    width: auto;
    
  
  }
  .comment-section{
    height: auto;
  }
  .user-comment{
    max-width: auto;
    display: flex;
    justify-content: center;
  }

  .post-details {
    display: flex;
    justify-content: center;
  }
.my-post-page {
    display: flex;
    justify-content: center;
}
.navbar{
    display: flex;
    justify-content: center;
}
.delete-postBTN{
  display: flex;
  justify-content: right;

}
.read-button {
  text-decoration: none;
  justify-content: center;
  display: flex;
}
.edit-btn {
  color: black;
  text-decoration: none;
  display: inline-block;
  justify-content: right;
  margin-bottom: 5px;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  background-color: #f0f0f0;
}
.edit-btn:visited {
  text-decoration: none;
}
